*{
    padding: 0%;
margin: 0;
box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
ul, ol, li{
    list-style: none;
}

body{
    padding: 60px 80px;
    font-family: "Poppins", sans-serif;
}

header{
    background-color: lightgreen;
    position: fixed;
    top: 60px;
    height: 60px;
    width: calc(100% - 160px);
    display: flex;
    justify-content: space-between;
}

header menu{
    display: flex;
    align-items: center;
    gap: 48px;
}
header li{
    padding: 4px 8px;
    transition: .5s
}
header li:hover{
    background-color: #FBDDC1;
    box-shadow: 0 4px 4px #0008;
}
main{
    background-color: plum;
    height: 700px; 
}

footer{
    height: 525px;
    background-color: tomato;
}